* {
  box-sizing: border-box;
    font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
}

/* Logo pero en el body*/
.logo-container {
  display: flex;
  align-items:center;
  justify-content:center;
}

.logo {
  align-items:start;
  flex-direction: row;
  width: 200px;
  height: auto;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
}

/* Modificar bordes ys ombras*/
.project {
  border: 1px solid #ddd;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 650px;
  
}

.project1 {
  border: 1px solid #ddd;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
  cursor: pointer;
}

.project2 {
  border: 1px solid #ddd;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
    cursor: pointer;
}

.project3 {
  border: 1px solid #ddd;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
    cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .project {
    margin: 1rem;
  }
}